/*
* .navBar class definition
*/
nav.navBar {
  background-color: $black;
  transition: $default-transition-props;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: $default-transition-props;
    
    li {
      float: left;
      padding: convertToEm(7px, 20px);
      width: 20%; // dynamically calc the width of these
      transition: $default-transition-props;
      
      
      //TODO: Make this active page pattern prettier and create themes
      a.current-page {
        background-color: $dimGray;
        text-decoration: underline;
      }
      
      a {
        display: block;
        padding: convertToEm(8px, 16px);
        text-decoration: none;
        text-align: center;
        
        &:focus {
          background-color: $blue;
          color: $white;
        }
      }
      
      
    }
    
  }
}



nav.navBar--fixed {
  position: fixed;
  top: 0;
  left: 0;
}


nav.navBar--drop-down {
  // hide the nested menus
  & ul li > ul {
    display: none;
  }
  
  // show the nested menus on hover
  & ul li:hover {
    & > ul {
      display: block;
     
    }
  }
  
  
  
  & ul li > ul > li {
    float: none;
    width: inherit;
    border-top: 1px solid $white;
    &:hover {
      background-color: $dimGray;
      color: $black;
    }
  }
  
}