/*
* Utility functions, mixins and classes for Accio
*/

// Load Google Font if it's defined in _config file

@if variable-exists(font-url--google ) {
  @import url($font-url--google);
}


// Convert px to em

@function convertToEm($target, $context: $base__font-size) {
  
  @return ($target / $context ) * 1em;

}

// Visually hidden helper class
/*------------------------------
The .visually-hidden class invokes a special set of properties, carefully devised to hide the element visually without it becoming silenced in screen reader software 	
------------------*/
.visually-hidden {
  position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}